.idea
.vscode
.DS_Store
vendor
node_modules
reports
phpunit_cache
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
.env*
.docker/osrm/*
!.env.example
auth.json
*ash_history
npm-debug.log
yarn-error.log
docker-compose.override.yml
.docker/dev/*
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
